<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Diet Plan Hub</h1>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date Generated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for meal_plan in meal_plans %}
                <tr>
                    <td>{{ meal_plan.date_created.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <a href="{{ url_for('view_meal_plan', meal_plan_id=meal_plan.id) }}" class="btn btn-primary">View</a>
                        <a href="{{ url_for('delete_meal_plan', meal_plan_id=meal_plan.id) }}" class="btn btn-danger">Delete</a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
